.postentry(itemscope itemtype="http://schema.org/BlogPosting")
  article.post
    .m-row
        span.imagewrap
          a.th.small.image(href=Url::to($post->url, true))
            img(width="200" height="150"
              src=Url::to('images/' . $post->thumb, true)
              title=$post->title
              alt=$post->title itemprop="image")
      .postmain.m-col-s-12.m-center-s.m-col-m-8.m-right-m
        .post-description
          h2.content-title
            a.header(itemprop="name"
              href=Url::to($post->url, true))
              span(itemprop="headline"): =$post->title
          p.author-name.quiet
            span.m-date-day
              time(itemprop="dateCreated"
                datetime=date('c', $post->datetime))
                +date($post->datetime)
              time(itemprop="datePublished"
                datetime=date('c', $post->datetime))
              //-span(itemprop="author") Jacob Moen
          .post-description.copy
            p(itemprop="description")
              =$post->description
            a.button.small(href=Url::to($post->url, true)
              title=$post->title)
              |Read More
  hr
