/ blog entry start
.blogentry(itemscope itemtype="http://schema.org/BlogPosting")
  %article.post
    .postaside
      %a.th.small.image(href="#{ base_url }/#{entry.url}")
        %img(width="200" height="150"
          src="#{base_url}/content/images/#{entry.meta.thumb}"
          title="#{entry.meta.title}"
          alt="#{entry.meta.title}" itemprop="image")
    .postmain
      .post-description
        %h2.content-title
          %a.header(itemprop="name"
            href="#{base_url}/#{entry.url}")
            %span(itemprop="headline") = entry.meta.title
        %p.author-name.quiet
          %span.when
            %time(itemprop="dateCreated"
              datetime="#{entry.meta.datetime}")
              =entry.meta.date|date(config.date_format)
            %time(itemprop="datePublished"
              datetime="#{entry.meta.datetime}")
            %span(itemprop="author") Jacob Moen
        .post-description.copy
          %p(itemprop="description")
            =entry.meta.description
          %a.button.small(href="#{base_url}/#{entry.url}"
            title="#{entry.title}")
            Read More
  %hr
/ blog entry end
