%footer.footer-2
  .footer-wrapper
    .footer-logo
      %a(href="#{base_url.url}/")
        %img(src="#{theme_url}/img/jacmoescs.png"
          alt="Jacmoes Cyber Soapbox"
          title="Jacmoes Cyber Soapbox")
    .footer-infomatics
      %ul
        %li.copyright
          &copy; 2010 - 2016
        %li.copyright
          %a(href="https://plus.google.com/100178862812199164136?rel=author") Jacob Moen
        %li
          %a.dreamlink(target="_blank"
            href="http://www.dreamhost.com/r.cgi?1188567")
            %img(src="#{ theme_url }/img/green3.gif"
              title="Hosted by DreamHost."
              alt="Green Web Hosting! This site hosted by DreamHost."
              height="15" width="80")
        %li
          %a(href="http://philecms.github.io/Phile/"
            target="_blank")
            %img(src="#{ theme_url }/img/phile-logo.png"
              title="Powered by PhileCMS."
              alt="Site powered by PhileCMS."
              height="28" width="28")
    %nav.footer-secondary-links
      %ul
        %li(#{(type == 'index') ? 'class="active"' : ''})
          %a(href="#{base_url.url}/") Home
        %li(#{(type == 'blog') ? 'class="active"' : ''})
          %a(href="#{base_url.url}/blog") Blog
        %li(#{(type == 'about') ? 'class="active"' : ''})
          %a(href="#{base_url.url}/about") About
