-if type == 'tag'
  -set currenturl = 'tag/' ~ tag
-else
  -set currenturl = current_page.url
%head
  %meta(charset="utf-8")
  %meta(name="viewport" content="width=device-width, initial-scale=1.0")
  %title
    -if meta.title
      =meta.title ~' | '
    =site_title
  -if meta.template == 'post'
    %meta(property="og:type" content="article")
  -if meta.description
    %meta(name="description" content="#{ meta.description }")
    %meta(property="og:description" content="#{ meta.description }")
  -if meta.robots
    %meta(name="robots" content="#{ meta.robots }")

  %meta(property="og:title" content="#{(meta.title != '') ? meta.title~' | ' : ''}#{ site_title }")
  %meta(property="og:url" content="#{ base_url }/#{(meta.title != '') ? currenturl : ''}")
  %meta(property="og:site_name" content="#{ site_title }")
  %meta(property="og:image" content="#{ base_url }/content/images/#{ current_page.meta.ogimage }")

  %meta(name="twitter:card" content="summary")
  %meta(name="twitter:url" content="#{ base_url }/#{(meta.title != '') ? currenturl : ''}")
  %meta(name="twitter:title" content="#{(meta.title != '') ? meta.title~' | ' : ''}#{ site_title }")
  %meta(name="twitter:description" content="#{ meta.description }")
  %meta(name="twitter:image" content="#{ base_url }/content/images/#{ current_page.meta.ogimage }")
  %meta(name="twitter:site" content="@jacmoe")
  %meta(name="twitter:creator" content="@jacmoe")

  %link(rel="author" href="https://plus.google.com/u/0/100178862812199164136")

  /-#{(something) ? true : false}
  / Canonical Url for Google Plus
  %link(rel="canonical" href="#{ base_url }/#{(current_page.title != '') ? currenturl : ''}")

  / Feed url
  %link(rel="alternate" type="application/rss+xml" href="#{ base_url }/feed")

  -if meta.template == 'blog'
    -if paginator.pages|length > 1
      / Rel next/prev for pagination
      -if not paginator.previous.pages is empty
        %link(rel="prev" href="#{ base_url }/#{paginator.previous.uri}")
      -if not paginator.next.pages is empty
        %link(rel="next" href="#{ base_url }/#{paginator.next.uri}")

  %meta(property="fb:app_id" content="388074334620118")

  %meta(name="application-name" content="#{ site_title }")
  %meta(name="msapplication-TileColor" content="#222222")
  %meta(name="msapplication-TileImage" content="/apple-touch-icon-144x144.png")

  %link(rel="stylesheet" href="#{ theme_url }/dist/css/app.min.css")

  / Favicons
  %link(rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png")
  %link(rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png")
  %link(rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png")
  %link(rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png")
  %link(rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png")
  %link(rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png")
  %link(rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png")
  %link(rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png")
  %link(rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png")
  %link(rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png")
  %link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
  %link(rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png")
  %link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
  %link(rel="manifest" href="/manifest.json")
  %meta(name="msapplication-TileColor" content="#ffffff")
  %meta(name="msapplication-TileImage" content="/ms-icon-144x144.png")
  %meta(name="theme-color" content="#ffffff")
