%header.navigation
  %div.navigation-wrapper
    %a.logo(href="#{ base_url.url }/")
      %img(src="#{ theme_url }/img/jacmoescs.png"
        alt="Logo Image"
        title="Jacmoes Cyber Soapbox")
    %a(href="#{ base_url.url }/")
      %span.site-title Jacmoes Cyber Soapbox
    %a(href="javascript:void(0)"
      class="navigation-menu-button"
      id="js-mobile-menu")
      MENU
    %nav
      %ul#js-navigation-menu.navigation-menu.show
        %li(#{(type == 'index') ? 'class="nav-link active"' : 'class="nav-link"'})
          %a(href="#{ base_url.url }/") Home
        %li(#{(type == 'blog') ? 'class="nav-link active"' : 'class="nav-link"'})
          %a(href="#{ base_url.url }/blog") Blog
        %li(#{(type == 'about') ? 'class="nav-link active"' : 'class="nav-link"'})
          %a(href="#{ base_url.url }/about") About
        %li.nav-link.feed-link
          %a(href="#{ base_url.url }/feed" title="RSS feed")
            %i.fi-rss
